body {background:rgb(29, 236, 91);
    margin-left: 100px;
    margin-right: 300px;}

header {margin-top: 70px}

h1 {color: black;
    font-family: fantasy}

h2 {font-family: fantasy}

p {font-size: 18px}

.imag_padrao {margin-bottom: 20px}

.logo {width: 30px;
        margin-bottom: 15px;
    margin-top: 30px}


footer {margin-bottom: 30px}


